@main("About Loudcloud", about = true){

<h4 style="margin-bottom:25px">Loudcloud is free and open-source. It was made for fun and education.</h4>

<p>Loudcloud is an open-source project that you are very welcome to
    <a href="https://github.com/mgibowski/loudcloud" target="_blank">fork on github</a>.
</p>

<p>The idea came about in conversations between <a href="https://twitter.com/metron" target="_blank">Jacob</a> and
    <a href="https://twitter.com/mgibowski" target="_blank">Michał</a> in the old days when there was no
        Spotify in Germany and SoundCloud didn't allow users to create playlists.</p>

<p><a href="http://www.duggregn.com" target="_blank">First version</a> was implemented by Jacob with
    <a href="http://nodejs.org/" target="_blank">Node.js</a>
    and the one you are just looking at by Michał with <a href="http://www.scala-lang.org" target="_blank">Scala</a>,
    <a href="http://www.playframework.com/" target="_blank">Playframework&nbsp;2</a> and some
    <a href="http://akka.io/" target="_blank">Akka</a> actors.
    This time the motivation was to present these technologies at the <a href="http://2013.devcrowd.pl/" target="_blank">Devcrowd</a>
    conference in Szczecin, Poland.
</p>

}