@(items: Seq[PlaylistItem])
@import PlaylistItemStatus._
@printStatus(s: Option[PlaylistItemStatus]) = { @s.map(_.toString().toLowerCase) }
@printTime(t: org.joda.time.DateTime) = { @t.getHourOfDay : @if(t.getMinuteOfHour < 10) {0}@t.getMinuteOfHour }
@main("Room") {

    @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/room").url)

    <div id="dropzone">
        <div class="centered">
            <div class="drop-dialog"><span>Drop soundcloud links here</span></div>
        </div>
     </div>

     <div class="">
        <div class="">
            <form class="add-track">
                <div class="controls clearfix">
                  <input class="input-block-level" type="text" placeholder="http://">
                  <span class="help-block">Paste a link from <a href="http://www.soundcloud.com">soundcloud</a> or drag the link onto the playlist.</span>
                  <button class="pull-right btn btn-primary" type="submit">Add song</button>
                </div>
            </form>
        </div>
     </div>

    <div id="playlist">

        @items.map{ item =>
            <div class="track fadein @printStatus(item.status)">
                <div class="span8 details">
                    <table>
                        <tbody>
                            <tr class="track-header">
                                <td class="artwork" rowspan="3">
                                    <img class="artwork" height="100" width="100" src="@item.track.artworkUrl">
                                </td>
                                <td class="when-played">
                                    <span class="played-at"> @printTime(item.startTime) </span>
                                    <span class="now-playing"> Now playing </span>
                                </td>
                            </tr>
                            <tr class="track-info">
                                <td colspan="1">
                                    <div class="title"> <a href="@item.track.permalinkUrl">@item.track.title</a> </div>
                                    <div class="artist"> <a href="@item.track.soundCloudUsernameUrl">@item.track.soundCloudUsername</a> </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <input type="hidden" class="trackId" value="@item.track.soundCloudId">
            </div>
        }



    </div>

}