@main("Room") {

    @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/room").url)

    <div id="dropzone">
        <div class="centered">
            <div class="drop-dialog"><span>Drop soundcloud links here</span></div>
        </div>
     </div>

     <div class="">
        <div class="">
            <form class="add-track">
                <div class="controls clearfix">
                  <input class="input-block-level" type="text" placeholder="http://">
                  <span class="help-block">Paste a link from <a href="http://www.soundcloud.com">soundcloud</a> or drag the link onto the playlist.</span>
                  <button class="pull-right btn btn-primary" type="submit">Add song</button>
                </div>
            </form>
        </div>
     </div>

    <div id="playlist">

        <div class="track fadein queued">
            <div class="span8 details">
                <table>
                    <tbody>
                        <tr class="track-header">
                            <td class="artwork" rowspan="3">
                                <img class="artwork" height="100" width="100" src="http://i1.sndcdn.com/artworks-000009042687-dpsn6u-large.jpg?e48997d">
                            </td>
                            <td class="when-played">
                                <span class="played-at"> 15:13 </span>
                                <span class="now-playing"> Now playing </span>
                            </td>
                        </tr>
                        <tr class="track-info">
                            <td colspan="1">
                                <div class="title"> <a href="http://soundcloud.com/peacefrog-records/ritual-union-maya-jane-coles"> Ritual Union (Maya Jane Coles Remix) </a> </div>
                                <div class="artist"> <a href="http://soundcloud.com/peacefrog-records"> Peacefrog Records </a> </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <input type="hidden" class="trackId" value="58432359">
        </div>

        <div class="track fadein playing">
            <div class="span8 details">
                <table>
                    <tbody>
                        <tr class="track-header">
                            <td class="artwork" rowspan="3">
                                <img class="artwork" height="100" width="100" src="http://i1.sndcdn.com/artworks-000009042687-dpsn6u-large.jpg?e48997d">
                            </td>
                            <td class="when-played">
                                <span class="played-at"> 15:13 </span>
                                <span class="now-playing"> Now playing </span>
                            </td>
                        </tr>
                        <tr class="track-info">
                            <td colspan="1">
                                <div class="title"> <a href="http://soundcloud.com/peacefrog-records/ritual-union-maya-jane-coles"> Ritual Union (Maya Jane Coles Remix) </a> </div>
                                <div class="artist"> <a href="http://soundcloud.com/peacefrog-records"> Peacefrog Records </a> </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <input type="hidden" class="trackId" value="58432359">
        </div>

        <div class="track fadein played">
            <div class="span8 details">
                <table>
                    <tbody>
                        <tr class="track-header">
                            <td class="artwork" rowspan="3">
                                <img class="artwork" height="100" width="100" src="http://i1.sndcdn.com/artworks-000009042687-dpsn6u-large.jpg?e48997d">
                            </td>
                            <td class="when-played">
                                <span class="played-at"> 15:13 </span>
                                <span class="now-playing"> Now playing </span>
                            </td>
                        </tr>
                        <tr class="track-info">
                            <td colspan="1">
                                <div class="title"> <a href="http://soundcloud.com/peacefrog-records/ritual-union-maya-jane-coles"> Ritual Union (Maya Jane Coles Remix) </a> </div>
                                <div class="artist"> <a href="http://soundcloud.com/peacefrog-records"> Peacefrog Records </a> </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <input type="hidden" class="trackId" value="58432359">
        </div>

    </div>

}